@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, :before, :after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto; }

body {
  margin: 0;
  padding: 0;
  font: normal normal 24px/1.25 "Source Sans Pro";
  color: #404040; }

img,
iframe,
video {
  max-width: 100%; }

a {
  color: #0E7BCE;
  text-decoration: none; }

a img {
  /*для IE10 */
  border: none; }

em {
  font-style: inherit;
  color: #0E7BCE; }

strong {
  font-weight: 600; }

p {
  margin: 0 0 1.5em; }
  p:last-child {
    margin: 0; }

*:focus {
  outline: none; }

*:invalid {
  -webkit-box-shadow: none;
          box-shadow: none; }

/*элементы форм */
input, textarea, button, select {
  font: inherit;
  color: inherit; }

[type=text],
[type=tel],
[type=email],
[type=password],
[type=url],
textarea {
  display: block;
  margin: 0 0 14px;
  background-color: #fff;
  line-height: 1;
  border: 1px solid #2D638C;
  border-radius: 20px;
  padding: 13.5px 20px;
  color: #404040;
  font-family: "Open Sans"; }

textarea {
  resize: none;
  padding: 38px;
  overflow: auto; }

[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 5px 20px 0 0;
  vertical-align: middle;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 10px #2D638C;
          box-shadow: 0px 4px 10px #2D638C; }
  [type=radio]:checked {
    background: radial-gradient(circle at center, #0E7BCE 6px, #fff 6px); }
  [type=radio]::-ms-check {
    display: none; }

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 0.75em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-family: "Open Sans"; }
  label span {
    width: calc(100% - 40px);
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }

.file-btn {
  display: inline-block;
  position: relative;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.5; }
  .file-btn:before {
    content: "";
    font-family: fontAwesome;
    display: inline-block;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    font-weight: 400; }
  .file-btn span {
    display: inline-block;
    width: auto;
    margin: 0 0 0 17px;
    border-bottom: 1px solid; }
  .file-btn input {
    position: absolute;
    width: 1px;
    height: 1px;
    z-index: -1; }

/*кнопки */
button,
[type=submit],
[type=reset],
[type=image] {
  cursor: pointer; }

.btn {
  display: inline-block;
  cursor: pointer;
  background-color: #F59F1A;
  font-size: 30px;
  line-height: 3.3333333333;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 20px;
  min-width: 500px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0 20px;
  white-space: nowrap;
  text-align: center;
  -webkit-box-shadow: 0 10px rgba(245, 159, 26, 0.9);
          box-shadow: 0 10px rgba(245, 159, 26, 0.9);
  position: relative; }
  .btn_white {
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 10px rgba(14, 123, 206, 0.4);
            box-shadow: 0px 4px 10px rgba(14, 123, 206, 0.4);
    color: #404040; }
  .btn_small {
    font-size: 24px;
    line-height: 2.0833333333;
    min-width: 0;
    padding: 0 23px;
    font-weight: 400; }
  .btn_login:before {
    content: "";
    font-family: fontAwesome;
    color: #0E7BCE;
    margin: 0 8px 0 0; }
  .btn span {
    position: relative;
    z-index: 2; }

/*заголовки */
h2, h3, h4, h5, h6 {
  margin: 0 0 1em; }

h1 {
  font-size: 50px;
  font-weight: bold;
  line-height: 1.26;
  margin: 0 0 0.48em; }

h2 {
  font-size: 48px;
  line-height: 1.25;
  position: relative; }
  h2:before {
    content: "";
    color: #0E7BCE;
    display: inline-block;
    font-family: icomoon;
    font-size: 1.2708333333em;
    font-weight: 400;
    position: absolute;
    left: 0;
    bottom: calc(100% - .5em); }

h3 {
  font-size: inherit; }

/*списки */
ul, ol {
  margin: 0 0 1em; }
  ul:last-child, ol:last-child {
    margin: 0; }

/*таблицы */
/*контейнеры */
.wrapper {
  max-width: 1760px;
  margin: 0 auto;
  padding: 0 15px; }

/*модальные окна */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.81);
  padding: 20px 10px;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .modal-wrapper .modal {
    display: block; }

.modal {
  display: none;
  max-width: 100%;
  width: 585px;
  position: relative;
  margin: auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px; }
  .modal__close {
    display: inline-block;
    position: absolute;
    font-size: 18px;
    line-height: 1;
    padding: 0.5em;
    top: 0;
    right: 0;
    cursor: pointer; }

/*ШАПКА */
.logo {
  display: inline-block;
  max-width: 100%; }
  .logo img {
    display: block;
    width: 100%; }

.header {
  padding: 46px 0 58px;
  font-family: "Open Sans"; }
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__logo {
    width: 224px;
    margin: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }
  .header__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 14px; }
  .header__title {
    font-size: 20px;
    font-weight: 600;
    margin: 0; }
  .header__contact {
    margin: 0 0 0 18px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 230px;
    font-size: 16px; }
    .header__contact:nth-child(n+3) {
      margin: 0 0 0 34px; }
  .header__phone {
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    margin: 0 0 0.1em;
    color: inherit; }
    .header__phone[href*="wa.me"]:before {
      content: "";
      font-family: fontAwesome;
      color: #1AB52A;
      font-weight: 400;
      margin: 0 9px 0 0; }
  .header__location {
    display: inline-block;
    color: inherit;
    margin: 0 auto;
    border-bottom: 1px solid #0E7BCE;
    padding: 0.2em 0;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .header__location:before {
      content: "";
      font-family: icomoon;
      color: #0E7BCE;
      font-size: 83.3333333333%;
      margin: 0 2px 0 0; }
  .header__btn {
    margin: 0 0 0 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }

.location {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-columns: 2;
          columns: 2;
  font-size: 20px; }
  .location > li {
    margin: 0 0 0.5em; }

/*ОСНОВНОЕ СОДЕРЖИМОЕ */
.top-block {
  padding: 166px 0 160px;
  background: url(../img/lazy-bastards.jpg) no-repeat left calc(50% + 418px) top 0;
  font-family: "Open Sans";
  font-size: 30px;
  overflow: hidden; }
  .top-block__title {
    font-family: "Source Sans Pro"; }
  .top-block p, .top-block__title {
    visibility: hidden; }
  .top-block__text {
    max-width: 850px;
    padding: 0 0 0 5px; }
    .top-block__text [class^="icon-"], .top-block__text [class^="fa-"] {
      font-size: 113.3333333333%;
      vertical-align: text-bottom; }
  .top-block__btn {
    margin: 4px 0 0; }

.service-card {
  margin: 0 15px 30px;
  width: 320px;
  text-align: center;
  font-family: "Open Sans";
  position: relative;
  padding: 37px 0 0; }
  .service-card:before {
    content: "";
    font-family: icomoon;
    background-color: #FFB21C;
    color: #fff;
    display: block;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    text-align: center;
    line-height: 66px;
    position: absolute;
    top: 0;
    left: calc(50% - 145px); }
  .service-card:after {
    content: "";
    font-family: icomoon;
    font-size: 40px;
    display: inline-block;
    position: absolute;
    top: 97px;
    left: calc(100% + 50px); }
  .service-card:last-child:after {
    display: none; }
  .service-card:nth-last-child(2):after {
    content: ""; }
  .service-card__pic {
    width: 160px;
    height: 160px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    margin: 0 auto 15px;
    -webkit-box-shadow: 0px 4px 10px #0E7BCE;
            box-shadow: 0px 4px 10px #0E7BCE;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .service-card__pic img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      max-width: 80%;
      max-height: 80%; }
  .service-card__emphasis {
    display: block;
    color: #0E7BCE;
    font-size: 48px;
    font-weight: bold;
    font-family: "Source Sans Pro";
    margin: 0 0 9px; }

.services {
  background-color: #F8FBFE;
  padding: 64px 0 117px; }
  .services__title {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    margin: 0 auto 1.5em;
    text-align: center; }
  .services__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 64px;
  padding: 0 0 0 17px;
  position: relative; }
  .step:before {
    content: "";
    display: inline-block;
    width: 55px;
    height: 88px;
    background: url(../img/icons/scheme-arrow.svg) no-repeat center/contain;
    position: absolute;
    top: -17px;
    left: -21px;
    z-index: 1; }
  .step:last-child {
    margin: 0; }
  .step__pic {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 10px rgba(14, 123, 206, 0.4);
            box-shadow: 0px 4px 10px rgba(14, 123, 206, 0.4);
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 0 26px 0 0; }
    .step__pic img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      max-width: 80%;
      max-height: 80%; }
  .step__text {
    width: calc(100% - 156px);
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    font-family: "Open Sans"; }

.scheme {
  background: url(../img/idiot.jpg) no-repeat left bottom/50% auto;
  padding: 57px 0 58px; }
  .scheme__title {
    margin: 0 0 1.5em; }
  .scheme__text {
    width: calc(50% - 150px);
    margin: 0 0 0 auto;
    padding: 0 100px 0 0; }
  .scheme__list {
    margin: 0 0 58px; }
  .scheme__btn {
    margin-left: 17px; }

.advantages {
  background: url(../img/feed.jpg) no-repeat right top/50% auto;
  padding: 131px 0 85px; }
  .advantages__text {
    width: 50%;
    padding: 0 0 0 6px; }
  .advantages__title {
    margin: 0 0 2.4em; }
  .advantages__list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 450px;
    counter-reset: adv; }
    .advantages__list > li {
      position: relative;
      padding-left: 4.0416666667em;
      margin: 0 0 2.5em;
      counter-increment: adv; }
      .advantages__list > li:before {
        content: "";
        display: block;
        width: 1.6666666667em;
        height: 1.6666666667em;
        border-radius: 50%;
        background-color: #FFB21C;
        position: absolute;
        top: -0.4166666667em;
        left: 0.25em; }
      .advantages__list > li:after {
        content: counter(adv) ".";
        font-size: 2.7083333333em;
        font-weight: bold;
        color: #0E7BCE;
        display: inline-block;
        position: absolute;
        left: 0.390625em;
        top: -0.15625em; }

.review-card {
  margin: 50px 60px 60px;
  width: 467px;
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 10px rgba(14, 123, 206, 0.4);
          box-shadow: 0px 4px 10px rgba(14, 123, 206, 0.4);
  padding: 68px 45px 77px 50px;
  font-family: "Open Sans"; }
  .review-card:before {
    content: "";
    display: block;
    width: 90px;
    height: 90px;
    position: absolute;
    top: -45px;
    left: calc(50% - 45px);
    border-radius: 50%;
    background-color: #fff;
    clip: rect(-10px, 100px, 45px, -10px);
    -webkit-box-shadow: 0 0 5px rgba(14, 123, 206, 0.4);
            box-shadow: 0 0 5px rgba(14, 123, 206, 0.4); }
  .review-card:after {
    content: url(../img/icons/triangle.svg);
    display: block;
    width: 50px;
    height: 30px;
    position: absolute;
    top: 100%;
    right: 25px;
    -webkit-filter: drop-shadow(2px 6px 3px rgba(14, 123, 206, 0.4));
            filter: drop-shadow(2px 6px 3px rgba(14, 123, 206, 0.4)); }
  .review-card__icon {
    height: 63px;
    position: absolute;
    top: -30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .review-card__title {
    text-align: center;
    margin: 0 0 0.5em; }
    .review-card__title:before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #0E7BCE;
      position: absolute;
      left: 23px;
      top: 20px; }
    .review-card__title:after {
      content: "";
      display: block;
      font: normal normal 61px/20px "icomoon";
      color: #0E7BCE; }
  .review-card__date {
    position: absolute;
    right: 18px;
    bottom: 20px;
    font-weight: 600;
    color: #0E7BCE;
    font-size: 14px; }
    .review-card__date:before {
      content: "";
      font-family: fontAwesome;
      font-weight: 400;
      color: #F59F1A;
      margin: 0 10px 0 0; }

.slick-arrow {
  display: inline-block;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: #0E7BCE;
  color: #fff;
  line-height: 40px;
  font-family: icomoon;
  font-weight: 400;
  font-size: 14px; }
.slick-prev:before {
  content: ""; }
.slick-next:before {
  content: ""; }
.slick-disabled {
  background-color: rgba(14, 123, 206, 0.5);
  cursor: default; }
.slick-dots {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin: 1em 0 0; }
  .slick-dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #0E7BCE;
    border-radius: 50%;
    margin: 5px; }
  .slick-dots .slick-active {
    background-color: #0E7BCE; }

.reviews {
  background-color: rgba(14, 123, 206, 0.05);
  padding: 90px 0 92px;
  overflow: hidden; }
  .reviews__title {
    margin: 0 0 1.9em; }
  .reviews__slider {
    padding: 0 50px;
    position: relative; }
    .reviews__slider .slick-list {
      margin: 0 -60px; }
  .reviews__arrow {
    position: absolute;
    z-index: 2;
    top: 158px; }
    .reviews__arrow.slick-prev {
      left: -20px; }
    .reviews__arrow.slick-next {
      right: -20px; }

.order {
  background-color: #0E7BCE;
  color: #fff;
  padding: 94px 0 45px; }
  .order__title {
    margin: 0 0 0.63em; }
    .order__title:before {
      color: inherit; }
  .order__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 74px 0 0; }
  .order__item {
    width: calc(50% - 49px);
    margin: 0 0 13px; }
    .order__item:nth-child(-n+2) {
      margin: 0 0 62px; }
  .order__subtitle {
    margin: 0 0 2em; }
  .order__multifield {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .order__multifield input {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto; }
      .order__multifield input:last-child {
        width: 174px;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
        margin: 0 0 0 62px; }
  .order textarea {
    display: block;
    width: 100%;
    height: 256px;
    margin: 0 0 40px; }
  .order__price {
    font-size: 1.5em;
    font-weight: 600;
    -ms-flex-item-align: center;
        align-self: center;
    font-family: "Open Sans"; }

.contacts {
  padding: 90px 0 0; }
  .contacts__title {
    margin: 0 0 0.75em; }
  .contacts__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .contacts__item {
    width: calc(50% - 19px);
    margin: 0 0 70px;
    font-size: 16px;
    line-height: 1.375;
    font-weight: 600;
    font-family: "Open Sans"; }
  .contacts__city {
    font-weight: 600;
    display: block;
    font-size: 150%;
    margin: 0 0 4px; }
    .contacts__city:before {
      content: "";
      font-family: icomoon;
      color: #FFB21C;
      font-weight: 400;
      margin: 0 10px 0 0;
      font-size: 83.3333333333%; }
  .contacts__address {
    margin: 0 0 1.1em; }
  .contacts__phone {
    margin: 0 0 0.7em; }
    .contacts__phone a {
      color: inherit; }
      .contacts__phone a:before {
        content: "";
        font-family: fontAwesome;
        color: #FFB21C;
        font-weight: 400;
        font-size: 137.5%;
        margin: 0 7px 0 0; }
  .contacts__email {
    margin: 0 0 1.1em; }
    .contacts__email a {
      color: inherit; }
      .contacts__email a:before {
        content: "";
        font-family: fontAwesome;
        color: #FFB21C;
        font-weight: 400;
        font-size: 106.25%;
        margin: 0 10px 0 0; }
  .contacts__worktime {
    font-size: 14px;
    line-height: 1.3571428571; }
  .contacts__subtitle {
    font-weight: 600;
    font-size: 16px;
    margin: 0; }
  .contacts__map-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .contacts__map {
    height: 380px;
    background-color: gray; }
    .contacts__map.small {
      width: calc(50% - 19px);
      height: 380px; }
    .contacts__map.bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .contacts__inner {
    position: relative;
    padding: 124px 0; }
  .contacts__layout {
    position: relative;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #FFB21C;
    border-radius: 20px;
    max-width: 342px;
    margin: 0 0 0 auto;
    padding: 83px 35px;
    font-size: 16px;
    line-height: 1.375;
    font-weight: 600;
    font-family: "Open Sans"; }

.offices {
  background-color: rgba(14, 123, 206, 0.05);
  padding: 90px 0 10px; }
  .offices__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .offices__item {
    width: 25%;
    margin: 0 0 29px;
    padding: 0 49px 0 0;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 1.375; }
  .offices__subtitle {
    font-weight: 400;
    font-size: 24px;
    margin: 0; }

/*ПОДВАЛ */
.footer {
  font-size: 16px;
  line-height: 1.375;
  font-family: "Open Sans";
  padding: 32px 0 39px; }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__logo {
    width: 212px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 0 10px 0 0; }
  .footer__subtitle {
    font: inherit;
    display: inline-block;
    margin: 0 1em 0 0;
    vertical-align: middle; }
  .footer__social a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 50px 0 0; }
    .footer__social a img {
      display: block;
      width: 36px; }
  .footer__payment img {
    display: inline-block;
    width: 42px;
    vertical-align: middle;
    margin: 0 50px 0 0; }

/*АДАПТИВ */
@media (min-width: 992px) {
  .location a:hover {
    text-decoration: underline; }

  .btn:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: #FFB21C;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
  .btn:hover:after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }
  .btn_white {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .btn_white:after {
      display: none; }
    .btn_white:hover {
      background-color: #0E7BCE;
      color: #fff; }
      .btn_white:hover:before {
        color: inherit; } }
@media (max-width: 1759px) {
  .wrapper {
    max-width: 1200px; }

  body {
    font-size: 16px; }

  h1 {
    font-size: 36px; }

  h2 {
    font-size: 28px; }

  .btn {
    font-size: 20px;
    -webkit-box-shadow: 0 4px rgba(245, 159, 26, 0.9);
            box-shadow: 0 4px rgba(245, 159, 26, 0.9);
    min-width: 0;
    padding: 0 30px; }
    .btn_white {
      -webkit-box-shadow: 0px 2px 5px rgba(14, 123, 206, 0.4);
              box-shadow: 0px 2px 5px rgba(14, 123, 206, 0.4); }
    .btn_small {
      font-size: 18px;
      padding: 0 20px; }

  textarea {
    padding: 20px; }

  [type=radio] {
    margin: 0 15px 0 0;
    vertical-align: middle; }

  .header__logo {
    width: 120px; }
  .header__title {
    display: none; }
  .header__contact {
    font-size: 12px;
    width: auto;
    max-width: 200px;
    margin: 0; }
  .header__phone {
    font-size: 18px; }
  .header__location {
    margin: 0 15px; }

  .top-block {
    padding: 80px 0;
    font-size: 18px; }
    .top-block__text {
      max-width: 50%;
      padding: 0; }

  .service-card {
    width: 270px;
    padding: 25px 0 0; }
    .service-card:before {
      width: 40px;
      height: 40px;
      line-height: 40px;
      left: calc(50% - 110px); }
    .service-card:after {
      font-size: 20px;
      left: calc(100% + 15px); }
    .service-card__emphasis {
      font-size: 200%; }

  .services {
    padding: 50px 0; }
    .services__list {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }

  .step:before {
    width: 30px;
    height: 50px;
    top: -10px;
    left: -5px; }
  .step__pic {
    width: 100px;
    height: 100px;
    margin: 0 15px 0 0; }

  .scheme__text {
    width: 50%;
    padding: 0 0 0 40px; }

  .advantages {
    padding: 60px 0; }

  .review-card {
    margin: 50px 15px 60px;
    padding: 68px 30px 77px; }
    .review-card.slick-slide {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      height: auto;
      min-height: 0; }

  .reviews {
    padding: 50px 0; }
    .reviews__slider .slick-track {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .reviews__slider .slick-list {
      margin: 0 -15px; }

  .order__item {
    width: calc(50% - 20px); }
    .order__item:nth-child(-n+2) {
      margin: 0 0 20px; }
  .order__multifield input:last-child {
    margin: 0 0 0 15px; }
  .order textarea {
    height: 200px;
    margin: 0 0 20px; }

  .offices__item {
    font-size: 14px; }
  .offices__subtitle {
    font-size: 18px; }

  .footer__logo {
    width: 150px; }
  .footer__subtitle {
    display: block;
    margin: 0 0 0.3em; }
  .footer__social a {
    margin: 0 20px 0 0; }
  .footer__payment img {
    margin: 0 20px 0 0; } }
@media(max-width:1199px) {
  .wrapper {
    max-width: 992px; }

  .top-block {
    padding: 40px 0;
    background-size: auto 100%;
    background-position-x: calc(50% + 300px); }
    .top-block br {
      display: none; }

  .service-card:nth-child(2n):after {
    display: none; }

  .services__list {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 700px; }

  .step {
    margin: 0 0 20px; }

  .scheme {
    padding: 40px 0; }
    .scheme__text {
      padding: 0 0 0 25px; }
    .scheme__list {
      margin: 0 0 35px; }

  .advantages {
    padding: 40px 0; }
    .advantages__title {
      margin: 0 0 1em; }
    .advantages__list > li {
      margin: 0 0 1.5em; }

  .reviews__slider {
    padding: 0 50px; }
  .reviews__arrow.slick-prev {
    left: 0; }
  .reviews__arrow.slick-next {
    right: 0; }

  .contacts {
    padding: 40px 0 0; }
    .contacts__item {
      width: calc(50% - 10px); }
    .contacts__map.small {
      width: calc(50% - 10px);
      height: 35vw; }
    .contacts__inner {
      padding: 60px 0; } }
@media(max-width:991px) {
  h2:before {
    display: none; }

  body {
    padding: 61px 0 0; }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    padding: 10px 0;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff; }
    .header__item:last-of-type {
      display: none; }
    .header__phone {
      font-size: 16px; }

  .step {
    text-align: left; }

  .scheme {
    background: none;
    text-align: center; }
    .scheme__text {
      width: auto;
      padding: 0; }

  .advantages {
    background: none; }
    .advantages__text {
      width: auto; }

  .order {
    padding: 40px 0; }
    .order__inner {
      display: block;
      padding: 0; }
    .order__item {
      width: auto;
      max-width: 600px; }

  .contacts__item {
    margin: 0 0 20px; }
  .contacts__map.bg {
    position: static;
    height: 350px; }
  .contacts__inner {
    padding: 0; }
  .contacts__layout {
    border: none;
    max-width: 100%;
    border-radius: 0;
    padding: 0;
    margin: 0 0 20px; }

  .offices__item {
    width: calc(100% / 3); }

  .footer {
    padding: 15px 0;
    text-align: center; }
    .footer__wrapper {
      display: block; }
    .footer__social {
      margin: 0 0 12px; }
      .footer__social a {
        margin: 0 10px; }
    .footer__payment {
      margin: 0 0 12px; }
      .footer__payment img {
        margin: 0 10px; } }
@media(max-width:767px) {
  .header__item {
    display: none; }

  .top-block {
    background: none;
    text-align: center; }
    .top-block__text {
      max-width: 100%; }

  .service-card {
    width: auto;
    margin: 0; }
    .service-card:after {
      position: static;
      width: auto;
      text-align: center;
      margin: 20px 0; }
    .service-card:nth-child(2n):after {
      display: block; }
    .service-card:last-child:after {
      display: none; }

  .services__list {
    display: block; }

  .reviews__title {
    text-align: center; }
  .reviews__slider {
    padding: 0;
    max-width: 480px;
    margin: 0 auto; }

  .contacts__box {
    display: block; }
  .contacts__item {
    width: auto; }
  .contacts__item:nth-child(n+2) .contacts__city {
    display: none; }
  .contacts__map-box {
    display: block; }
  .contacts__map.small {
    width: 100%;
    height: 300px;
    margin: 0 0 20px; }
    .contacts__map.small:last-child {
      margin: 0; }

  .offices__item {
    width: 50%; } }
@media(max-width:480px) {
  h1 {
    font-size: 26px; }

  h2 {
    font-size: 24px; }

  .btn_login {
    font-size: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center; }
    .btn_login:before {
      font-size: 20px;
      margin: 0; }

  .header__logo {
    width: 90px;
    margin: 0 10px 0 0; }

  .order__multifield {
    display: block; }
    .order__multifield input {
      width: 100%; }
      .order__multifield input:last-child {
        width: 100%;
        margin: 0 0 12px; }

  .offices {
    padding: 30px 0; }
    .offices__box {
      display: block; }
    .offices__item {
      width: 100%; }

  .location {
    -webkit-columns: 1;
            columns: 1; } }

/*# sourceMappingURL=style.css.map */